---
---

@import "{{ site.theme }}";
$bitcoin_orange: #FF9900;
  
hr, header h1, h1, h2, h3, h4, h5, h6 {
  color: $bitcoin_orange;
}
  
ul li {
  list-style-image: none;
}

header h1:before {
  content: "";
  display: none;
}
